@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&display=swap');

*{
  color: #fff;
  font-family: 'AR One Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  /* background: #343541; */
  /* background: #29556e; */
  background: #101010;
  display: flex;
}

.side-bar {
  background: #202123;
  height: 100vh;
  width: 244px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  border: solid 0.5px rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

nav {
  border-top: solid 0.5px rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 10px;
}

.history {
  padding: 10px;
  margin: 10px;
  height: 100%;
}

.history li{
  list-style-type: none;
  padding: 15px 0;
  cursor: pointer;
}

/* .user-options{
  padding: 7px 8px;
  margin-left: 6px;
  border-radius: 4px;
} */

.options-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Add a grey background color to dropdown links on hover */
.options-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .options-content {
  display: block;
}

.main-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 5px 20px;
  transition: 0.5s;
}

.info {
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  padding: 10px;
} 

.bottom-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  position: relative;
  width: 100%;
  max-width: 650px;
}

/* .input-box{
  min-width: px;
  max-width: 100vw;
  font-size: 15px;
} */

.input-submit{
  padding: 6px 16px;
  margin-left: 6px;
  border: 2px solid #fff;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

input {
  width: 100%;
  border: none;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 12px 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
  rgba(0, 0, 0, 0.05) 0 -12px 30px,
  rgba(0, 0, 0, 0.05) 0 4px 6px,
  rgba(0, 0, 0, 0.05) 0 12px 3px,
  rgba(0, 0, 0, 0.05) 0 -3px 5px
}

input:focus {
  outline: none;
}

#submit {
  position: absolute;
  bottom: 15px;
  right: 0;
  cursor: pointer;
}

.feed {
  overflow: scroll;
  /* width: 100%; */
  padding: 0;
}

.feed li {
  display: flex;
  /* background-color: hsla(201, 76%, 76%, 0.788); */
  /* background-color: hsla(193, 95%, 68%, 0.788); */
  background-color: rgba(255, 255, 255, 0.05);
  width: 100%;
  padding: 15px;
  margin: 20px 0;
}

.feed p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  text-align: left;
}

.feed p.role {
  min-width: 100px;
}